In [97]:
import numpy as np
import pandas as pd

In [124]:
energy = pd.read_excel('Energy Indicators.xls',header=9)

In [125]:
energy.drop(columns=['Unnamed: 0','Unnamed: 1'], inplace=True)

In [126]:
energy.head()

,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
0,NaN,Petajoules,Gigajoules,%
1,Andorra,9,121,88.6957
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
4,NaN,NaN,NaN,NaN

In [127]:
def remove_digit(val):
    result = []
    for i in val:
        if not (i.isdigit()):
            result.append(i)
    return "".join(result)

In [128]:
def remove_parenthesis(val):
    result = []
    for i in val:
        if i == '(':
            break
        if i != '(':
            result.append(i)
    strg = "".join(result)
    if strg[-1] == " ":
        return strg[:-1]
    return strg

In [129]:
energy.dropna(how='any', inplace=True) #dropping all na values
energy.columns = ['Country','Energy Supply','Energy Supply per Capita','% Renewable']
energy['Country'] = energy['Country'].apply(remove_digit)
energy['Country'] = energy['Country'].apply(remove_parenthesis)
energy.set_index('Country', inplace=True)

In [130]:
energy['Energy Supply'].replace({'...':np.nan},inplace=True)
energy['Energy Supply'].unique()

array([9.00000e+00, 3.21000e+02, 1.02000e+02, 1.95900e+03,         nan,
       6.42000e+02, 2.00000e+00, 8.00000e+00, 3.37800e+03, 1.43000e+02,
       1.20000e+01, 5.38600e+03, 1.39100e+03, 5.67000e+02, 4.50000e+01,
       5.74000e+02, 1.62500e+03, 1.90000e+01, 1.14200e+03, 2.33800e+03,
       1.30000e+01, 1.70000e+02, 6.00000e+00, 6.30000e+01, 3.36000e+02,
       5.00000e+00, 2.66000e+02, 8.60000e+01, 1.21490e+04, 1.27000e+02,
       7.03000e+02, 1.64000e+02, 5.80000e+01, 7.00000e+00, 2.50000e+02,
       3.07000e+02, 1.04310e+04, 2.30000e+01, 7.70000e+01, 1.61300e+03,
       1.27191e+05, 5.85000e+02, 4.70000e+01, 1.51300e+03, 1.00000e+00,
       2.22000e+02, 5.47000e+02, 7.80000e+01, 8.20000e+01, 1.75100e+03,
       6.12000e+02, 8.88000e+02, 7.25000e+02, 1.10000e+01, 3.39000e+02,
       6.80000e+02, 3.42200e+03, 1.76000e+02, 7.30000e+01, 3.40000e+01,
       2.58000e+02, 1.39400e+03, 3.10000e+01, 1.37400e+03, 1.05970e+04,
       9.90000e+01, 1.40000e+01, 1.63000e+02, 1.32610e+04, 3.16000e+02,
       9.93000e+02, 3.30000e+01, 4.52000e+02, 0.00000e+00, 1.45000e+02,
       2.90000e+01, 1.72000e+02, 2.17000e+02, 9.47000e+02, 3.12000e+02,
       3.31950e+04, 8.75400e+03, 9.17200e+03, 2.07700e+03, 5.48000e+02,
       9.97000e+02, 6.53000e+03, 1.08000e+02, 1.89840e+04, 3.00000e+00,
       3.25000e+02, 3.54800e+03, 8.73000e+02, 1.47500e+03, 1.67000e+02,
       8.50000e+01, 1.83000e+02, 2.89000e+02, 4.80000e+01, 8.30000e+01,
       7.07000e+02, 2.82000e+02, 1.68000e+02, 1.66000e+02, 1.01000e+02,
       3.41700e+03, 1.50000e+01, 6.60000e+01, 5.10000e+01, 7.94400e+03,
       4.75000e+02, 4.20000e+01, 7.96000e+02, 4.69000e+02, 6.82000e+02,
       4.58000e+02, 3.19900e+03, 8.76000e+02, 1.49000e+02, 8.70000e+01,
       5.58900e+03, 1.38800e+03, 1.01500e+03, 2.86800e+03, 1.58000e+02,
       1.44000e+02, 2.28000e+02, 8.58000e+02, 1.78100e+03, 4.12100e+03,
       8.99000e+02, 5.60000e+01, 1.39600e+03, 1.10070e+04, 9.30000e+01,
       5.90000e+01, 1.33900e+03, 3.07090e+04, 9.50000e+01, 4.00000e+00,
       7.98500e+03, 1.54000e+02, 6.18000e+02, 6.70000e+01, 1.12000e+03,
       7.11000e+02, 2.87000e+02, 1.26000e+02, 6.34100e+03, 2.80000e+01,
       4.92300e+03, 3.88000e+02, 6.10000e+01, 6.08000e+02, 4.90000e+01,
       2.04400e+03, 1.11300e+03, 5.42000e+02, 1.06000e+02, 5.33600e+03,
       1.17000e+02, 1.34000e+02, 8.24000e+02, 4.30000e+02, 4.89700e+03,
       1.10200e+03, 4.84400e+03, 2.71000e+03, 7.92000e+03, 9.94000e+02,
       9.08380e+04, 1.96000e+02, 1.79800e+03, 2.87100e+03, 2.55400e+03,
       3.44000e+02, 4.00000e+02, 4.80000e+02])

In [131]:
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [132]:
energy

                           Energy Supply Energy Supply per Capita % Renewable
Country
Andorra                     9.000000e+06                      121     88.6957
Afghanistan                 3.210000e+08                       10     78.6693
Albania                     1.020000e+08                       35         100
Algeria                     1.959000e+09                       51     0.55101
American Samoa                       NaN                      ...    0.641026
...                                  ...                      ...         ...
Viet Nam                    2.554000e+09                       28     45.3215
Wallis and Futuna Islands   0.000000e+00                       26           0
Yemen                       3.440000e+08                       13           0
Zambia                      4.000000e+08                       26     99.7147
Zimbabwe                    4.800000e+08                       32     52.5361

[228 rows x 3 columns]

In [136]:
energy.rename(index={'Republic of Korea':'South Korea',
                     'United States of America':'United States',
                     'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                     'China, Hong Kong Special Administrative Region':'Hong Kong'},inplace=True)

In [137]:
energy.index[0:50]

Index(['Andorra', 'Afghanistan', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Hong Kong',
       'China, Macao Special Administrative Region', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands'],
      dtype='object', name='Country')