In [30]:
import numpy as np
import pandas as pd

In [31]:
energy = pd.read_excel('Energy Indicators.xls',header=9)

In [32]:
energy.drop(columns=['Unnamed: 0','Unnamed: 1'], inplace=True)

In [33]:
energy.head()

,Country,Energy Supply,Energy Supply per capita,Renewable Electricity Production
0,NaN,Petajoules,Gigajoules,%
1,Andorra,9,121,88.6957
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,website: http://unstats.un.org/unsd/ENVIRONMEN...
4,NaN,NaN,NaN,NaN

In [34]:
def remove_digit_parenthesis(val):
    result = []
    for i in val:
        if i == '(':
            break
        if not (i.isdigit()):
            result.append(i)
    strg = "".join(result)
    if strg[-1] == " ":
        return strg[:-1]
    return strg

In [35]:
energy.dropna(how='any', inplace=True) #dropping all na values
energy.columns = ['Country','Energy Supply','Energy Supply per Capita','% Renewable']
energy['Country'] = energy['Country'].apply(remove_digit_parenthesis)
energy.set_index('Country', inplace=True)

In [36]:
energy['Energy Supply'].replace({'...':np.nan},inplace=True)

In [37]:
energy['Energy Supply'] = energy['Energy Supply'] * 1000000

In [38]:
energy.rename(index={'Republic of Korea':'South Korea',
                     'United States of America':'United States',
                     'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                     'China, Hong Kong Special Administrative Region':'Hong Kong'},inplace=True)

In [39]:
energy.head(5)

                Energy Supply Energy Supply per Capita % Renewable
Country
Andorra          9.000000e+06                      121     88.6957
Afghanistan      3.210000e+08                       10     78.6693
Albania          1.020000e+08                       35         100
Algeria          1.959000e+09                       51     0.55101
American Samoa            NaN                      ...    0.641026

In [40]:
#part 2

In [41]:
GDP = pd.read_csv('world_bank.csv',header=4)

In [42]:
GDP.drop(GDP.loc[:,'1960':'2005'], axis=1,inplace=True)

In [43]:
GDP.rename(columns={'Country Name':'Country'}, inplace=True)

In [44]:
GDP.set_index('Country',inplace=True)

In [45]:
GDP.rename(index={"Korea, Rep.":"South Korea","Iran, Islamic Rep.":"Iran",
                 "Hong Kong SAR, China":"Hong Kong"}, inplace=True)

In [46]:
GDP.drop(columns=['Country Code','Indicator Name','Indicator Code'],inplace=True)
GDP.head(5)

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [47]:
#part 3

In [48]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')

In [49]:
ScimEn.drop(index=ScimEn.index[15:], inplace=True)

In [50]:
ScimEn.set_index('Country',inplace=True)

In [51]:
ScimEn

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,
China,1,127050,126767,597237,411683,4.70,138
United States,2,96661,94747,792274,265436,8.20,230
Japan,3,30504,30287,223024,61554,7.31,134
United Kingdom,4,20944,20357,206091,37874,9.84,139
Russian Federation,5,18534,18301,34266,12422,1.85,57
Canada,6,17899,17620,215003,40930,12.01,149
Germany,7,17027,16831,140566,27426,8.26,126
India,8,15005,14841,128763,37209,8.58,115
France,9,13153,12973,130632,28601,9.93,114
South Korea,10,11983,11923,114675,22595,9.57,104
Italy,11,10964,10794,111850,26661,10.20,106
Spain,12,9428,9330,123336,23964,13.08,115
Iran,13,8896,8819,57470,19125,6.46,72
Australia,14,8831,8725,90765,15606,10.28,107
Brazil,15,8668,8596,60702,14396,7.00,86

In [25]:
#merging all

In [26]:
merge_ScimEn_energy = pd.merge(ScimEn,energy,left_index=True,right_index=True,how='inner')

In [27]:
merge_all = pd.merge(merge_ScimEn_energy,GDP,left_index=True,right_index=True,how='inner')

In [28]:
merge_all.sort_values('Rank')

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286,11.571,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124,10.6005,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26,14.9691,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166,17.0203,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221,2.27935,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109,33.6672,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106,37.9686,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231,11.8108,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59,69.648,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [29]:
merge_all.shape

(14, 20)